.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

.footer_logo_container {
    position: relative;
}

.footer_logo_container.absolute {
    position: absolute;
}

.loader_circle {
    position: absolute;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 140vw;
    height: 140vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    background-color: #1D3557;
}

.footer_triangle {
    position: absolute;
    left: 52vw;
    top: -8.5vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

    img {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
        border: 0;
    }
}

.footer_triangle.smaller {
    left: 7.1vw;
    top: auto;
    bottom: 0px;
    width: 3.8vw;
    -webkit-transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    transform: rotate(16deg);
}

.footer_triangle.smaller.top {
    left: 11.8vw;
    top: 0px;
    bottom: auto;
    -webkit-transform: rotate(-15.82deg);
    -ms-transform: rotate(-15.82deg);
    transform: rotate(-15.82deg);
}

.wrapper {
    overflow: hidden;
}

.wrapper.for_loader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 102%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_logo_text {
    position: relative;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 13.3vw;
    line-height: 108%;
    text-transform: uppercase;
}